<h1>About</h1>
<hr>
<div>
    <h2>How to play</h2>
        <p>At the start of each round all players receive cards showing the same location — a casino, a traveling circus, a pirate ship, or even a space station — except that one player receives a card that says "Spy" instead of the location. Players then start asking each other questions — "Why are you dressed so strangely?" or "When was the last time we got a payday?" or anything else you can come up with — trying to guess who among them is the spy. The spy doesn't know where he is, so he has to listen carefully. When it's his time to answer, he'd better create a good story!</p>
        <p>At any time during a round, one player may accuse another of being a spy. If all other players agree with the accusation, the round ends and the accused player has to reveal his identity. If the spy is uncovered, all other players score points. However, the spy can himself end a round by announcing that he understands what the secret location is; if his guess is correct, only the spy scores points.</p>
        <br>
        <button class="btn btn-lg btn-default" routerLink="/play">Play Game</button>
</div>
<hr>
<div>
    <p>Created by Alvin Manalastas</p>
    <p><a href="http://github.com/alvinm96">GitHub</a></p>
</div>